<button class="navigation" (click)="back()">Go Back</button>
<button class="navigation" (click)="save()">Submit</button>
<div class="card">
    <div class="row">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="speaker.name">
    </div>
    <div class="row">
        <label for="name">Position:</label>
        <input type="text" id="position" [(ngModel)]="speaker.position">
    </div>
    <div class="row">
        <label for="name">Time:</label>
        <input type="text" id="time" [(ngModel)]="speaker.time">
    </div>
    <div class="row">
        <label for="name">Theme:</label>
        <input type="text" id="theme" [(ngModel)]="speaker.theme">
    </div>
</div>
